.postDetailContainer {
  background-color: rgb(255, 255, 255);
  height: fit-content;
  min-height: 40rem;
  padding: 3rem 10rem;
}

.comment-section {
  margin-top: 20px;
  text-align: center;
}

.comment-input {
  width: 72%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.comment-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comment-btn:hover {
  background-color: #0056b3;
}

.postDetail {
  font-size: 1.2rem;
  line-height: 2.3rem;
}

.commentFont {
  font-size: 2rem;
  padding: 3rem 10rem 0rem 10rem;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 10rem;
}

.wordCloudContainer {
  padding: 0.1rem 10rem;
}
